{% load static %}

<footer id="footer" class="footer-area section-padding">
  <div class="container">
    <div class="row">

      <!-- Sobre -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="footer-widget">
          <h3 class="footer-logo">
            <img src="{% static 'assets/img/logo.png' %}" alt="Logo" style="max-width: 140px;">
          </h3>

          <p>
            Desenvolvedor focado em criar soluções web modernas com Django, Python, HTML, CSS e JavaScript.
            Sempre buscando evolução e novos desafios na área de tecnologia.
          </p>

          <div class="social-icon">
            <a href="https://github.com/davimj99" target="_blank"><i class="lni-github"></i></a>
            <a href="https://www.linkedin.com/in/davisouza99/" target="_blank"><i class="lni-linkedin-filled"></i></a>
            <a href="https://instagram.com/" target="_blank"><i class="lni-instagram-filled"></i></a>
          </div>
        </div>
      </div>

      <!-- Links rápidos -->
      <div class="col-lg-2 col-md-6 col-sm-12">
        <h3 class="footer-title">Links</h3>
        <ul class="footer-link">
          <li><a href="#">Home</a></li>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Projetos</a></li>
          <li><a href="#">Habilidades</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>

      <!-- Projetos -->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h3 class="footer-title">Projetos</h3>
        <ul class="footer-link">
          <li><a href="#">Sistema de Vendas Django</a></li>
          <li><a href="#">Site Institucional</a></li>
          <li><a href="#">API Python</a></li>
          <li><a href="#">Dashboard Web</a></li>
        </ul>
      </div>

      <!-- Contato  lni-phone-handset-->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h3 class="footer-title">Contato</h3>
        <ul class="address">
          <li><i class="lni-map-marker"></i> Brasília - DF, Brasil</li>
          <li><i class="lni-envelope"></i> davisouza.pro@hotmail.com</li>
          <li>
            <a href="https://wa.me/5561995207692" target="_blank">
              <i class="lni-phone-handset"></i>
              <span>+55 (61) 99520-7692</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <!-- Copyright -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>
            © 2026 - Desenvolvido por <strong>Davi DEV</strong>. Todos os direitos reservados.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>