{% load static %}
    <div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <p class="mb-3">Sobre Mim</p>
                  <h2 class="section-title">Detalhes</h2>
                </div>
                <div class="content">
                  <p>
                  Sou desenvolvedor de software com formação na área de Análise e Desenvolvimento de Sistemas, com foco em criação de aplicações web e soluções digitais funcionais e bem estruturadas. Tenho experiência prática no desenvolvimento de sistemas utilizando tecnologias como Python, Django, PHP, HTML, CSS, JavaScript e bancos de dados relacionais.

                  Ao longo da minha trajetória, desenvolvi projetos completos envolvendo autenticação, CRUD, integração com banco de dados e estruturação de sistemas web, aplicando boas práticas de organização de código e versionamento com Git.

                  Sou movido por desafios e pela melhoria contínua, sempre buscando transformar ideias em sistemas funcionais e bem implementados.
                  </p>
                  <a href="#" class="btn btn-common mt-4">Me contate para colaborações</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="{%static 'assets/img/about/davi.cartoon.png' %}" alt="" >
          </div>
        </div>
      </div>
    </div>